.project-container {
  height: 400px;
  width: 60%;
  border-radius: 6px;
  background: purple;
  margin-bottom: 50px;
  padding: 0;
  position: relative;

  .project-content {
    position: absolute;
    height: 300px;
    width: 100%;
    bottom: 50px;
    left: 50%;
    border-radius: 6px;
    background: white;
    box-shadow: 0 1.7px 3.4px rgba(0, 0, 0, 0.06),
      0 10px 19px rgba(0, 0, 0, 0.12);
  }

  .right-content {
    left: -50%;
  }
}

.right {
  margin-left: auto;
}
