.sidebar-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 20;
  background-color: #f2fafd;
  transform: translateX(-100%);

  .close-menu-icon {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;

    span {
      cursor: pointer;
    }
  }

  .content {
    display: flex;
    height: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    p {
      cursor: pointer;
      position: relative;
      font-size: 1.3rem;

      &::after {
        content: "";
        position: absolute;
        margin-top: 4px;
        display: block;
        width: 0;
        right: 0;
        height: 3px;
        background-color: #477d84;
        transition: 0.4s ease;
      }

      &:hover {
        &::after {
          width: 100%;
          left: 0;
        }
      }
    }
  }

  .sidebar-image-container {
    height: 50%;
    display: flex;
    align-items: flex-end;

    .sidebar-image {
      height: auto;
      width: 100%;
      object-fit: cover;
    }
  }
}
