@import "../../constants/colors.scss";

.banner-container {
  min-height: 60vh;
  background-color: $banner;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  .banner-content {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 100px;

    @media (max-width: 1024px) {
      padding-left: 60px;
    }

    @media (max-width: 770px) {
      padding-left: 40px;
    }

    @media (max-width: 500px) {
      flex-basis: 100%;
      padding-left: 20px;
    }

    h3 {
      font-size: 3rem;
      letter-spacing: 0.1rem;
      color: $primary;

      @media (max-width: 770px) {
        font-size: 2.4rem;
      }

      @media (max-width: 500px) {
        font-size: 2rem;
      }
    }

    h4 {
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
      color: $secondary;
      margin: 5px 0 10px 0;

      @media (max-width: 500px) {
        font-size: 0.9rem;
      }
    }
  }

  .image-container {
    flex-basis: 60%;

    .banner-image {
      max-width: 60%;
      margin: auto;

      @media (max-width: 770px) {
        max-width: 80%;
      }
    }

    @media (max-width: 500px) {
      display: none;
    }
  }
}
